.navbar-inverse{
  background-color:#a1cccf;
}

.navbar-inverse .navbar-nav>.active>a{
  background-color:#1d2a2b80;
}

.navbar-inverse .navbar-nav>li>a{
  color:#1d2a2b;
}

.navbar-inverse .navbar-brand{
  color:#1d2a2b;
}

.navbar-inverse .navbar-nav>.active>a:hover{
  background-color:rgb(207, 146, 117);
}

.navbar-inverse .navbar-brand:hover{
  color: #1d2a2b;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: #1d2a2b;
}